
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1, h4, p {
    color: #ffffff;
}

h1 {
    font-family: 'Ephesis', cursive;
    letter-spacing: 2px;
    font-size: 59px;
    font-weight: 600;
}

.title-portfolio {
    text-align: center;
    font-size: 90px;
}


.separator {
    border-top: 3px solid #ffffff;
    margin: 60px 0 60px 0;
}

.info-member {
    display: flex;
    width: 100%;

}

.member-bio {
    display: flex;
}

.member-bio p {
    align-items: center;
    display: flex;
}

.member-avatar {
    text-align: center;
}

.member-avatar img {
    width: 70%;
}

.member-avatar h4 {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 0;
}

.member-avatar p {
    font-style: italic;
    font-weight: 100;
}

.project-image {
    text-align: center;
}


.project-image p {
    text-align: center;
    font-size: 10px;
}

.project-image img {
    width: 100%;
    margin-bottom: 10px
}