@import "main.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../img/welcome/devanture.jpg");
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 55px;
    font-weight: 400;
}

h1 span {
    font-family: 'Ephesis', cursive;
    letter-spacing: 2px;
    font-size: 59px;
    margin-top: 35px;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-border {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-left: 7px solid #FFCAD4;
    border-radius: 10px;
}

.welcome-lines {
    color: #ffffff;
    padding-left: 15px
}

.welcome-lines a {
    margin-top: 30px;
    border-radius: 30px;
    padding: 5px 30px 5px 30px;
    background: #FFCAD4;
    border: none;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    transition: background 0.3s ease; /* Ajout de la transition */
    text-decoration: none;
}

.welcome-lines a:hover {
    background: #f8d4db;
}